.calendly-inline-widget {
    height:715px!important;
}

hr {
    display: none;
}


@media screen and (max-width: 800px)
{
    .calendly-inline-widget{
        height: 866px !important;
    }
    hr {
        display: block;
        border: 3px solid black;
        margin-bottom: 20px;
    }
}
