.ItalianFoods {
    display: flex;
    /* justify-content: space-around; */
    /* padding: 5em; */
    /* background-color: red; */
    justify-content: center;
    /* width: 50%; */
    /* height: ; */
    border: 0.2em solid rgb(209, 202, 202);
    flex-wrap: wrap;
    width: 50%;
    
}

.test {
    background-color: blueviolet;
}

.starter {
flex-wrap: wrap;
width: 20%;
background-color: aqua; 
}

.pizzas {

}

.delicatessen {

}

.seafoodspeciality ,.starter, .pizzas ,.delicatessen, .vins {
    font-size: 1em;
    padding: 1.5em;
    display: flex;
    justify-content: center;

}

.vins {
    
}

.titre {
    
}