.Italian {
    display: flex;
    justify-content: center;
}

.ItalianFoods {
    display: flex;
    /* justify-content: space-around; */
    /* padding: 5em; */
    /* background-color: red; */
    justify-content: center;
    /* width: 50%; */
    /* height: ; */
    border: 0.2em solid rgb(209, 202, 202);
    flex-wrap: wrap;
    width: 80%;
    
}

.test {
    /* background-color: blueviolet; */
}

.starter {
flex-wrap: wrap;
width: 20%;
/* background-color: aqua;  */
}

.pizzas {

}

.delicatessen {

}

.seafoodspeciality ,.starter, .pizzas ,.delicatessen, .vins {
    font-size: 1em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
}

.mealstitle {
padding-bottom: 10%;
}

.mealsdescription {
    font-size: 0.8em;
}

.vins {
    
}

.titre {
    
}