.food-section {
    margin: 2.5rem 0;
}
.food-section__header {
    margin: 1rem 0;
}
.food-section__title {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(212, 212, 212);
    text-transform: capitalize;
    color: #222;
}
.food-section__underline {
    width: 35px;
    height: 2px;
    background-color: #222;
}

.food-section__foods-wrapper {
    transform: translateZ(0);
}
.food-section__foods {
    width: 100%;
    max-width: 90vw;
    overflow-x: auto;
    display: flex;
    align-items: center;
    transition: 0.15s all linear;
    padding-bottom: 0.2rem;
}
.food-section__foods::-webkit-scrollbar {
    background-color: rgb(175, 175, 175);
    height: 3px;
}
.food-section__foods::-webkit-scrollbar-thumb {
    background-color: #04cbc5;
}
.arrow-container {
    position: fixed;
    top: 120px;
    z-index: 1000;
    background-color: #026764;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: 0.1s all linear;
    display: none;
}
.food-section__arrow {
    color: white;
    font-size: 2rem;
}
.arrow-left {
    left: 20px;
}
.arrow-right {
    right: 20px;
}
.food-section__foods:hover .arrow-container {
    opacity: 1;
}

@media all and (min-width: 700px) {
    .arrow-container {
        display: flex;
    }
}
