.header {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    transition: all 0.1s linear;
    padding: 0;
}
.container--header {
    max-width: 90vw;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
}
.header__logo {
    width: 7.2rem;
}
.header__right {
    display: flex;
    align-items: center;
}
/* Styles of sidebar menu for small screen */
.header__list {
    background-color: rgba(3, 3, 3, 0.75);
    position: fixed;
    left: -290px;
    top: 0px;
    width: 290px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.2s linear;
    box-shadow: 1px 2px 5px black;
}
.header__list--open {
    left: 0px;
}
.header__list > * {
    margin: 0 0.6rem;
}
.header__list-item {
    color: #ebebeb;
    font-size: 1.1rem;
    transition: all 0.15s linear;
    padding: 0.6rem;
    background-color: #222;
    border-radius: 2rem;
    margin: 0.2rem 0.6rem;
}
.header__list-item:hover {
    background-color: black;
    color: white;
}
.header__buttons {
    margin: 1rem 0.6rem;
}
.header__buttons > * {
    margin: 0 0.3rem;
}
.header__button {
    border-radius: 1rem;
    padding: 5px 10px;
    font-size: 0.75rem;
}
.header__button--bordered {
    border: 1px solid #08b6b0;
    color: white;
    background-color: #08b6b0;
}
.header__button--fill {
    border: 1px solid #08b6b0;
    color: #08b6b0;
    background-color: white;
}
.header__icon {
    color: #f9f9f9;
    font-size: 1.8rem !important;
}
.header__main-btn {
    padding: 0.4rem !important;
}

/* Styles of fixed header for small screen */
.header--fixed {
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    padding: 0.2rem 0;
}
.header--fixed .header__icon {
    color: #08b6b0;
}
.header--fixed .header__menu-icon {
    color: #222 !important;
}

@media all and (min-width: 768px) {
    .container--header {
        max-width: 82vw;
    }
    .header__logo {
        width: 8.5rem;
    }
    .header__list {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
        left: auto;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
    }
    .header__list-item {
        color: #f9f9f9;
        padding: 0.5rem;
        font-size: 1rem;
        background-color: transparent;
    }
    .header__list-item:hover {
        color: #222;
        background-color: white;
        border-radius: 2rem;
    }
    /* Styles of fixed header for large screen */
    .header--fixed .header__button--fill {
        border: 1px solid #08b6b0;
        color: #08b6b0;
        background-color: white;
    }
    .header--fixed .header__button--bordered {
        border: 1px solid #08b6b0;
        color: white;
        background-color: #08b6b0;
    }
    .header--fixed .header__list-item {
        color: #696969;
        font-size: 1rem;
    }
    .header--fixed .header__list-item:hover {
        color: white;
        background-color: #222;
    }

    .header__button--fill {
        background-color: #f9f9f9;
        color: #222;
        border-color: #f9f9f9;
    }
    .header__button--bordered {
        color: #f9f9f9;
        background-color: transparent;
        border-color: #f9f9f9;
    }
    .header__buttons {
        margin: 0;
    }
    .header__main-btn {
        padding: 0.5rem !important;
    }
    .header__menu-btn {
        display: none !important;
    }
}
