.footer {
    background-color: black;
    color: #a5a5a5;
    /* padding: 0.4rem 0 2.5rem; */
}
.footer-container {
    max-width: 76vw;

}

.horaire-et-maps {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
}

.footer__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 0.5px solid #464646;
    margin: 1rem 0;
    overflow-x: auto;
}
.footer__links::-webkit-scrollbar {
    background-color: rgb(175, 175, 175);
    height: 2px;
}
.footer__links::-webkit-scrollbar-thumb {
    background-color: #04cbc5;
}
.footer__link {
    color: #a5a5a5;
    transition: all 0.15s linear;
    padding: 0.9rem 0.9rem;
    border-bottom: 2px solid transparent;
    font-family: "Nunito", sans-serif;
}
.footer__link:hover {
    color: #04cbc5;
    border-bottom: 2px solid #04cbc5;
}
.footer__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem 0.6rem;
    padding: 1rem 0;
    border-bottom: 0.5px solid #464646;
    text-align: center;
}
.footer__grid-title {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
    margin-bottom: 0.2rem;
}
.footer__grid-link {
    display: block;
    color: #a5a5a5;
    transition: all 0.15s linear;
    padding: 0.2rem 0;
    font-family: "Nunito", sans-serif;
}
.footer__grid__link:hover {
    color: #04cbc5;
}
.footer__texts {
    padding: 2.5rem 0;
    font-family: "Nunito", sans-serif;
}
.footer__text {
    margin-bottom: 0.8rem;
}
.footer__text--light {
    color: #d7d7d7;
}
.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Nunito", sans-serif;
    font-size: 0.95rem;
}
.footer__info-link {
    color: white;
    margin: 0.5rem;
    transition: all 0.15s linear;
}
.footer__info-link--dark {
    color: #a5a5a5;
}
.footer__info-link:hover {
    color: #04cbc5;
}
.footer__icon {
    font-size: 1.5rem !important;
}


.googlemap {
    display: inline;
    width: 650px;
    height: 350px;
}

.horaire {
    display: inline;
    float: left;
    
}

.jour {
    margin-bottom: 20px ;
}

.appel-text {
    padding-top: 25px;
}

.jour-gras {
    font: bolder !important;

    /* background-color: red ; */
}

.heure {
    
}

@media screen and (max-width: 800px) {
    .googlemap {
        width: 95%;
        margin-bottom: 30px;
    }
    
    .horaire {
       display: block;
       float: none;
    }

    .jour {
        text-align: center;
    }
}

@media all and (min-width: 600px) {
    .footer__links {
        justify-content: flex-end;
    }
    .footer__link {
        padding: 1.3rem 0.9rem;
    }
    .footer__grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
}

@media all and (min-width: 960px) {
    .footer__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
