.aspect-div,
.aspect-form,
.aspect-input,
.aspect-button,
.aspect-p,
.aspect-h1,
.aspect-h2,
.aspect-h3,
.aspect-h4,
.aspect-h5,
.aspect-h6 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aspect-div,
.aspect-input,
.aspect-button,
.aspect-nav,
.aspect-header,
.aspect-form {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aspect-input {
  /* outline: 0; */
  padding: 4px 6px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 0;

  font-family: inherit;

  /* removes unwanted inner shadow on mobile */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aspect-button {
  border: none;
  color: unset;
  font-size: unset;
  font-family: inherit;
  font-weight: unset;
}
